* { box-sizing: border-box; }

body {
    margin: 0;
    background-color: #fbfbfb;
}

.header {
  overflow: hidden;
  background-color: #e7e7e7;
  padding: 20px 10px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  height: 45px;
  width: 151px;
}

.tabla-posicion {
  margin: 3% auto;
}


#tabla-formato {
    font-family: "Palatino", sans-serif;
    border-collapse: collapse;
    width: 90%;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

#tabla-formato td, th {
    border: 1px solid #d8d8d8;
    padding: 8px;
    font-size: 13px;
}

#tabla-formato th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #46a18f;
    color: white;
}


#tabla-total {
    border: 3px solid #d8d8d8;
    padding-left: 0%;
    padding-right: 0%;
    width: 84%;
}

.tabla-total-position {
  margin: 0 auto;
  margin-left: 70%;
}

/*Galeria*/

.galeria {
  border-collapse: collapse;
  width: 45%;
  margin: 10px;
  border: 2px solid #d8d8d8;
  padding: 0%;
  float: left;
}

.galeria2 {
  border-collapse: collapse;
  width: 19pc;
  margin: 10px;
  border: 1px solid #d8d8d8;
  padding: 0%;
  float: left;
}

.galeria-descripcion {
  overflow: hidden;
  padding: 3px;
  color: #1C1C1C;
  font-size: 15px;
  font-style: normal;
  text-align: center;
}
